.Badge {
  background: #f1f1f1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px 8px 8px 8px;
  overflow: hidden;
  height: 370px;
  &__header {
    padding: 0.3rem 0;
    height: 70px;
    background: #1b1b25;
    display: flex;
    justify-content: center;
  }
  &__section-name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }

  &__section-info {
    background: #f4f4f7;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    & p {
      background: rgba(255, 255, 255, 0.2);
      margin: 0px;
    }
  }
  &__avatar {
    border-radius: 50%;
    margin-right: 1rem;
    width: 120px;
    height: 120px;
  }

  &__footer {
    text-align: center;
    height: 40px;
    display: block;
    line-height: 40px;
    background: gray(4);
    color: white;
  }
  &__participante {
    display: flex;
    justify-content: center;
  }
  /* @media (--small) {
    background: blue;
  } */
}
