.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-grid {
  display: flex;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-grid .circle {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgba(2, 1, 23, 0.8);
  animation: lds-grid 1.2s linear infinite;
}

.circle:nth-child(1) {
  top: 6px;
  left: 6px;
  animation-delay: 0s;
}

.circle:nth-child(2) {
  top: 6px;
  left: 26px;
  animation-delay: -0.4s;
}

.circle:nth-child(3) {
  top: 6px;
  left: 45px;
  animation-delay: -0.8s;
}

.circle:nth-child(4) {
  top: 26px;
  left: 6px;
  animation-delay: -0.4s;
}

.circle:nth-child(5) {
  top: 26px;
  left: 26px;
  animation-delay: -0.8s;
}

.circle:nth-child(6) {
  top: 26px;
  left: 45px;
  animation-delay: -1.2s;
}

.circle:nth-child(7) {
  top: 45px;
  left: 6px;
  animation-delay: -0.8s;
}

.circle:nth-child(8) {
  top: 45px;
  left: 26px;
  animation-delay: -1.2s;
}

.circle:nth-child(9) {
  top: 45px;
  left: 45px;
  animation-delay: -1.6s;
}

@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }
}
