.pacmanError {
  background: rgba(2, 1, 3, 0.7);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../image/404-error.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

.pacmanError h3 {
  position: absolute;
  top: 50px;
  color: white;
  background: red;
  padding: 10px 50px;
  border-radius: 10px;
}
